.panel {
    display: flex;
    background-color: #909090;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-between;
    align-self: center;
}

.field {
    background-color: white;
    width: 65px;
    padding: 10px;
    margin: 3px
}

.input-area {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info input {
    width: 70%;
    text-align: center;
}

.production {
    display: flex;
}

.production input {
    width: 150px;
}

.hortalicas-list {
    display: flex;
    align-items: center;
}

.hortalicas-list select {
    height: 100%;
}

.button {
    display: flex;
}

.button button {
    padding: 10px
}

.area-info-container {
    text-align: center;
}

/*          Model         */

#garden {
    margin-left: 30px;
}

#title {
    text-align: center;
}

.model {
    background-color: #76BA99;
    border-radius: 10px;
}